<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Reminder</title>
</head>
<body>
    <h1>REMINDER: EMAIL AWARENESS (CYBERSECURITY RELATED)</h1>
    <p>Dear Captain,</p>
    <p>Good day.</p>
    <p>I am sharing this email to raise your awareness regarding cybersecurity.</p>
    <p>Kindly be informed, "NOT TO OPEN ATTACHMENTS OR LINKS FROM SUSPICIOUS/UNKNOWN SENDERS".</p>
    <p>They usually put a sense of urgency on the subject and the message to trick users.</p>
    <p>This is mostly a phishing attack to gain information/data or pass malicious websites that could compromise accounts and data.</p>
    <p>*Kindly refer to the file "phishing email (sample)".</p>
    <p>If you received a suspicious email from an unknown sender, kindly do the following:</p>
    <p>1. Send a screenshot of the email for our reference. (DO NOT CLICK/OPEN LINKS OR FILES ATTACHED TO THE EMAIL/DO NOT RESPOND TO UNKNOWN SENDERS)</p>
    <p>2. We will verify the email first if it is legitimate or not (Wait for our response).</p>
    <p>3. Once we confirm that it is a spam/phishing email, block the sender by referring to the attached files:</p>
    <p>"block sender (outlook)" -> Using Outlook e-mail client <p>"block sender (thunderbird)" -> Using Thunderbird email client.</p>
    <p>"add sender to block list (thunderbird)" -> Using Thunderbird email client.</p>
    <p>*Spam/Phishing email filtering has already been enabled on (SkyMail and FleetMail) clients.</p>
    <p>Kindly acknowledge this email for confirmation.</p>
    <p>Thank you very much.</p>
</body>
</html>